body {
  background-color: #dee1ec;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(13, 12, 181, 0.2) 0px 7px 29px 0;
  margin: 60px auto;
  max-width: 600px;
  padding: 30px;
}

h1 {
  font-size: 36px;
  text-align: center;
}

select {
  border-radius: 10px;
  display: block;
  font-size: 18px;
  padding: 30px;
  width: 100%;
}

.city {
  border-bottom: 1px dashed rgba(13, 12, 181, 0.2);
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 30px 0;
}

.city:last-child {
  border: none;
}

h2 {
  font-size: 28px;
  margin: 0 0 5px;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  line-height: 48px;
  vertical-align: middle;
}

footer {
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  text-align: center;
}
